/* 
 */

.card {
  width: 27%;
  display: flex;
  justify-content: flex-start;
  margin: 1rem 0;
}
#navbar {
  display: none;
}

@media only screen and (max-width: 1280px) {
  #sidebar {
    display: none;
  }
  #maincontainer {
    width: 80%;
  }
  #container {
    width: 100%;
  }
  #navbar {
    display: flex;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  /* .card {
    width: 37%;
    display: flex;
    justify-content: flex-start;
    margin: 1rem 0;
  } */
}

@media only screen and (max-width: 768px) {
  .card {
    width: 40%;
    justify-content: center;
  }
}
@media only screen and (max-width: 540px) {
  .card {
    width: 80%;
    justify-content: center;
  }
}
